html,
body {
    font-family: "Open Sans Condensed", sans-serif;
}

td {
    border: 3px solid black;
    height: 50px;
    width: 50px;
    text-align: center;
    font-size: 2rem;
}

tr:hover {
    cursor: pointer;
}

table {
    color: royalblue;
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}

button {
    border: 2px solid black;
    transition: all 0.5s ease-in-out;
}

button:hover {
    border: 5px solid black;
    font-size: 25px;
    background-color: tomato;
}
